.next-section-container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 74px;
}

.next-text{
    text-align: center;
    padding: 0 144px;
}
.next-text-title{
    font-size: 32px;
    font-weight: 800;
}
.next-text-description{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 45px;
}

.next-box{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    display: flex;
    gap: 60px;
    padding: 24px 24px;
    margin-bottom: 24px;

}

.next-box-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 10%;
}
.next-box-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}
.next-box-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 20px;
}
.next-more{
    font-size: 16px;
    font-weight: 600;
    color: black;
}